@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: linear-gradient(to bottom, #06b6d4, #3b82f6);
}

.play-fair {
  font-family: "Playfair Display", serif;
}

.weired {
  clip-path: path('M 0 100 Q 50 0 100 100 L 100 100 Q 50 200 0 100 Z');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
